<div ngClass="sticky-rrss top"
    ngClass.lt-sm="sticky-rrss bottom">
    <button matRipple class="button-rrss ripple facebook" (click)="href('https://www.facebook.com/pg/MeatChile/')">
        <img src="/assets/ico/facebook-icon.svg"/>
    </button>
    <button matRipple  class="button-rrss ripple instagram" (click)="href('https://www.instagram.com/meatcode.cl/')">
        <img src="/assets/ico/instagram-icon.svg"/>
    </button>
    <button matRipple  class="button-rrss ripple youtube" (click)="href('https://meatcode.cl/')">
        <img src="/assets/ico/youtube-icon.svg"/>
    </button>
</div>
<div fxLayout="column" fxLayoutAlign="stretch">
    <app-banner></app-banner>
    <app-body></app-body>
    <app-footer></app-footer>
</div> 